@charset "UTF-8";
html {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'NanumSquareRound' !important;
}

::selection{
	background-color: palevioletred;
	color: white;
}

input,button,select,optgroup,textarea,table {
	font-size: inherit;
	line-height: inherit;
}

button {
	--bg: #ee9ca7;
	--text-color: #fff;
	position: relative;
	width: 70px;
	border: none;
	background: var(--bg);
	color: var(--text-color);
	padding: 5px;
	font-size: small;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.2s;
	border-radius: 5px;
	opacity: 0.8;
	letter-spacing: 1px;
	box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
  }
  
  button:hover {
	opacity: 1;
  }
  
  button:active {
	top: 4px;
	box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
  }
/* 
button {
	cursor: pointer;
	padding: 6px 12px;
	border-radius: 6px;
	color: #fff;
	border: 2px;
	background-color: pink;
	transition: background-color .2s
}
button:hover {
	background-color: palevioletred;
}
button:active {
	background-color: palevioletred;
}
button:disabled {
	opacity: .5;
	pointer-events: none;
} */



input {
	padding: 6px 12px;
	border-radius: 6px;
	color: #f59acf;
	border: 2px solid #ced4da;
}

textarea {
	width: 500px;
	height: 200px;
	color: #f59acf;

}
select {
	border: 2px solid #ced4da;
}

#list {
	border-collapse: collapse;
	width: 100%;
}

#list td, #list th {
	border: 1px solid #ddd;
	padding: 8px;
}

#list tr:nth-child(even){background-color: #f2f2f2;}

#list tr:hover {
	background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#list th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	/* background-color: palevioletred; */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
	color: white;
}

thead tr {
	background: #ee9ca7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
